@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 1920px;
    height: 100vh;
    overflow: hidden;
    animation: sky linear 20s infinite;
    cursor: url(../img/p.cur), auto;
    position: relative;
}

@keyframes sky {
    0% {
        background: #b08fcc;
    }

    25% {
        background: #b1e1e2;
    }

    50% {
        background: #fcd2e2;
    }

    75% {
        background: #636888;
    }

    100% {
        background: #b08fcc;
    }
}

.click {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    z-index: 999;
}

.click button {
    cursor: pointer;
    background: #fff;
    font-family: 'DungGeunMo';
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    animation: clickbtn 1s ease-in-out infinite;
}

@keyframes clickbtn {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}

.click button:hover {
    background: pink;
}

.explode {
    width: 100%;
    display: none;
}

.pyro>.before,
.pyro>.after {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro>.after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow: 20px -329.6666666667px #00ffc8, 197px -366.6666666667px #ff2600, -188px -406.6666666667px deepskyblue, 177px 40.3333333333px #ff2600, -95px -228.6666666667px #d000ff, 186px -6.6666666667px #1500ff, 73px -81.6666666667px #00ff2f, 8px -213.6666666667px #ff00b3, 230px -16.6666666667px #ff3c00, 200px -40.6666666667px #00fbff, 220px -223.6666666667px #ffd500, 171px -294.6666666667px #48ff00, -2px -112.6666666667px #ffd500, 105px -378.6666666667px #00ff59, 62px -395.6666666667px #ff5e00, -130px -358.6666666667px #9d00ff, -18px 40.3333333333px #ff0080, 190px -101.6666666667px #bfff00, 102px 32.3333333333px #00ff3c, 174px -362.6666666667px #00e1ff, 81px -28.6666666667px #1aff00, 105px -72.6666666667px #00ff6a, -235px -171.6666666667px #00ff26, 70px -207.6666666667px #00ff33, -164px -326.6666666667px #ff009d, 146px -188.6666666667px #0026ff, 6px -201.6666666667px #1aff00, -31px -122.6666666667px #ae00ff, 243px -280.6666666667px #ff1e00, 149px -127.6666666667px #88ff00, -217px -261.6666666667px #cc00ff, -39px -204.6666666667px #ff005e, -206px -344.6666666667px #ff0062, 42px -388.6666666667px #aa00ff, -180px 74.3333333333px #ffbf00, -1px 2.3333333333px #00aeff, 212px -305.6666666667px #ffd500, 60px -94.6666666667px #ff0062, 162px -192.6666666667px #ff00f2, -218px -18.6666666667px #c800ff, 23px -352.6666666667px #0051ff, -67px -242.6666666667px #00ffaa, 132px -178.6666666667px #005eff, 158px -38.6666666667px #6aff00, -114px -82.6666666667px #48ff00, 248px -60.6666666667px #0040ff, 99px -254.6666666667px #ee00ff, 126px -277.6666666667px #55ff00, 73px -381.6666666667px #ddff00, -34px -221.6666666667px #ff4d00, 191px -322.6666666667px #0080ff;
    }
}

@-moz-keyframes bang {
    to {
        box-shadow: 20px -329.6666666667px #00ffc8, 197px -366.6666666667px #ff2600, -188px -406.6666666667px deepskyblue, 177px 40.3333333333px #ff2600, -95px -228.6666666667px #d000ff, 186px -6.6666666667px #1500ff, 73px -81.6666666667px #00ff2f, 8px -213.6666666667px #ff00b3, 230px -16.6666666667px #ff3c00, 200px -40.6666666667px #00fbff, 220px -223.6666666667px #ffd500, 171px -294.6666666667px #48ff00, -2px -112.6666666667px #ffd500, 105px -378.6666666667px #00ff59, 62px -395.6666666667px #ff5e00, -130px -358.6666666667px #9d00ff, -18px 40.3333333333px #ff0080, 190px -101.6666666667px #bfff00, 102px 32.3333333333px #00ff3c, 174px -362.6666666667px #00e1ff, 81px -28.6666666667px #1aff00, 105px -72.6666666667px #00ff6a, -235px -171.6666666667px #00ff26, 70px -207.6666666667px #00ff33, -164px -326.6666666667px #ff009d, 146px -188.6666666667px #0026ff, 6px -201.6666666667px #1aff00, -31px -122.6666666667px #ae00ff, 243px -280.6666666667px #ff1e00, 149px -127.6666666667px #88ff00, -217px -261.6666666667px #cc00ff, -39px -204.6666666667px #ff005e, -206px -344.6666666667px #ff0062, 42px -388.6666666667px #aa00ff, -180px 74.3333333333px #ffbf00, -1px 2.3333333333px #00aeff, 212px -305.6666666667px #ffd500, 60px -94.6666666667px #ff0062, 162px -192.6666666667px #ff00f2, -218px -18.6666666667px #c800ff, 23px -352.6666666667px #0051ff, -67px -242.6666666667px #00ffaa, 132px -178.6666666667px #005eff, 158px -38.6666666667px #6aff00, -114px -82.6666666667px #48ff00, 248px -60.6666666667px #0040ff, 99px -254.6666666667px #ee00ff, 126px -277.6666666667px #55ff00, 73px -381.6666666667px #ddff00, -34px -221.6666666667px #ff4d00, 191px -322.6666666667px #0080ff;
    }
}

@-o-keyframes bang {
    to {
        box-shadow: 20px -329.6666666667px #00ffc8, 197px -366.6666666667px #ff2600, -188px -406.6666666667px deepskyblue, 177px 40.3333333333px #ff2600, -95px -228.6666666667px #d000ff, 186px -6.6666666667px #1500ff, 73px -81.6666666667px #00ff2f, 8px -213.6666666667px #ff00b3, 230px -16.6666666667px #ff3c00, 200px -40.6666666667px #00fbff, 220px -223.6666666667px #ffd500, 171px -294.6666666667px #48ff00, -2px -112.6666666667px #ffd500, 105px -378.6666666667px #00ff59, 62px -395.6666666667px #ff5e00, -130px -358.6666666667px #9d00ff, -18px 40.3333333333px #ff0080, 190px -101.6666666667px #bfff00, 102px 32.3333333333px #00ff3c, 174px -362.6666666667px #00e1ff, 81px -28.6666666667px #1aff00, 105px -72.6666666667px #00ff6a, -235px -171.6666666667px #00ff26, 70px -207.6666666667px #00ff33, -164px -326.6666666667px #ff009d, 146px -188.6666666667px #0026ff, 6px -201.6666666667px #1aff00, -31px -122.6666666667px #ae00ff, 243px -280.6666666667px #ff1e00, 149px -127.6666666667px #88ff00, -217px -261.6666666667px #cc00ff, -39px -204.6666666667px #ff005e, -206px -344.6666666667px #ff0062, 42px -388.6666666667px #aa00ff, -180px 74.3333333333px #ffbf00, -1px 2.3333333333px #00aeff, 212px -305.6666666667px #ffd500, 60px -94.6666666667px #ff0062, 162px -192.6666666667px #ff00f2, -218px -18.6666666667px #c800ff, 23px -352.6666666667px #0051ff, -67px -242.6666666667px #00ffaa, 132px -178.6666666667px #005eff, 158px -38.6666666667px #6aff00, -114px -82.6666666667px #48ff00, 248px -60.6666666667px #0040ff, 99px -254.6666666667px #ee00ff, 126px -277.6666666667px #55ff00, 73px -381.6666666667px #ddff00, -34px -221.6666666667px #ff4d00, 191px -322.6666666667px #0080ff;
    }
}

@-ms-keyframes bang {
    to {
        box-shadow: 20px -329.6666666667px #00ffc8, 197px -366.6666666667px #ff2600, -188px -406.6666666667px deepskyblue, 177px 40.3333333333px #ff2600, -95px -228.6666666667px #d000ff, 186px -6.6666666667px #1500ff, 73px -81.6666666667px #00ff2f, 8px -213.6666666667px #ff00b3, 230px -16.6666666667px #ff3c00, 200px -40.6666666667px #00fbff, 220px -223.6666666667px #ffd500, 171px -294.6666666667px #48ff00, -2px -112.6666666667px #ffd500, 105px -378.6666666667px #00ff59, 62px -395.6666666667px #ff5e00, -130px -358.6666666667px #9d00ff, -18px 40.3333333333px #ff0080, 190px -101.6666666667px #bfff00, 102px 32.3333333333px #00ff3c, 174px -362.6666666667px #00e1ff, 81px -28.6666666667px #1aff00, 105px -72.6666666667px #00ff6a, -235px -171.6666666667px #00ff26, 70px -207.6666666667px #00ff33, -164px -326.6666666667px #ff009d, 146px -188.6666666667px #0026ff, 6px -201.6666666667px #1aff00, -31px -122.6666666667px #ae00ff, 243px -280.6666666667px #ff1e00, 149px -127.6666666667px #88ff00, -217px -261.6666666667px #cc00ff, -39px -204.6666666667px #ff005e, -206px -344.6666666667px #ff0062, 42px -388.6666666667px #aa00ff, -180px 74.3333333333px #ffbf00, -1px 2.3333333333px #00aeff, 212px -305.6666666667px #ffd500, 60px -94.6666666667px #ff0062, 162px -192.6666666667px #ff00f2, -218px -18.6666666667px #c800ff, 23px -352.6666666667px #0051ff, -67px -242.6666666667px #00ffaa, 132px -178.6666666667px #005eff, 158px -38.6666666667px #6aff00, -114px -82.6666666667px #48ff00, 248px -60.6666666667px #0040ff, 99px -254.6666666667px #ee00ff, 126px -277.6666666667px #55ff00, 73px -381.6666666667px #ddff00, -34px -221.6666666667px #ff4d00, 191px -322.6666666667px #0080ff;
    }
}

@keyframes bang {
    to {
        box-shadow: 20px -329.6666666667px #00ffc8, 197px -366.6666666667px #ff2600, -188px -406.6666666667px deepskyblue, 177px 40.3333333333px #ff2600, -95px -228.6666666667px #d000ff, 186px -6.6666666667px #1500ff, 73px -81.6666666667px #00ff2f, 8px -213.6666666667px #ff00b3, 230px -16.6666666667px #ff3c00, 200px -40.6666666667px #00fbff, 220px -223.6666666667px #ffd500, 171px -294.6666666667px #48ff00, -2px -112.6666666667px #ffd500, 105px -378.6666666667px #00ff59, 62px -395.6666666667px #ff5e00, -130px -358.6666666667px #9d00ff, -18px 40.3333333333px #ff0080, 190px -101.6666666667px #bfff00, 102px 32.3333333333px #00ff3c, 174px -362.6666666667px #00e1ff, 81px -28.6666666667px #1aff00, 105px -72.6666666667px #00ff6a, -235px -171.6666666667px #00ff26, 70px -207.6666666667px #00ff33, -164px -326.6666666667px #ff009d, 146px -188.6666666667px #0026ff, 6px -201.6666666667px #1aff00, -31px -122.6666666667px #ae00ff, 243px -280.6666666667px #ff1e00, 149px -127.6666666667px #88ff00, -217px -261.6666666667px #cc00ff, -39px -204.6666666667px #ff005e, -206px -344.6666666667px #ff0062, 42px -388.6666666667px #aa00ff, -180px 74.3333333333px #ffbf00, -1px 2.3333333333px #00aeff, 212px -305.6666666667px #ffd500, 60px -94.6666666667px #ff0062, 162px -192.6666666667px #ff00f2, -218px -18.6666666667px #c800ff, 23px -352.6666666667px #0051ff, -67px -242.6666666667px #00ffaa, 132px -178.6666666667px #005eff, 158px -38.6666666667px #6aff00, -114px -82.6666666667px #48ff00, 248px -60.6666666667px #0040ff, 99px -254.6666666667px #ee00ff, 126px -277.6666666667px #55ff00, 73px -381.6666666667px #ddff00, -34px -221.6666666667px #ff4d00, 191px -322.6666666667px #0080ff;
    }
}

@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-webkit-keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-moz-keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-o-keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-ms-keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}


/* 구름 */

.cloud1 {
    animation: movecloud1 linear infinite 15s;
}

.cloud1 img {
    width: 250px;
    position: absolute;
    top: 7vw;
    left: 50vw;
}

.cloud2 {
    animation: movecloud2 linear infinite 20s;
}

.cloud2 img {
    width: 150px;
    position: absolute;
    top: 5vw;
    right: 10vw;
}

.cloud3 {
    animation: movecloud3 linear infinite 30s;
}

.cloud3 img {
    width: 200px;
    position: absolute;
    top: 2vw;
}

@keyframes movecloud1 {
    0% {
        transform: translate(-10%);
    }

    100% {
        transform: translate(100%);
    }
}

@keyframes movecloud2 {
    0% {
        transform: translate(-10%);
    }

    100% {
        transform: translate(100%);
    }
}

@keyframes movecloud3 {
    0% {
        transform: translate(0%);
    }

    100% {
        transform: translate(100%);
    }
}

/* 롤코 */

.rc_n {
    position: absolute;
    bottom: 250px;
    left: 160px;
    width: 800px;
    animation: dayn ease-in 20s infinite;
}

.rc_m {
    width: 800px;
    position: absolute;
    bottom: 250px;
    left: 160px;
    animation: day ease-in 20s infinite;
}

/* 열기구  */
.air_n {
    animation: dayn linear 20s infinite;
}

.air_m {
    animation: day linear 20s infinite;
}

.sky1 {
    width: 10%;
    position: absolute;
    left: 100px;
    top: 5vw;
    animation: air 2s linear infinite;
}

.sky2 {
    width: 8%;
    position: absolute;
    top: 10vw;
    right: 100px;
    animation: air 2.5s linear infinite;
}

@keyframes air {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* 대관람차 */

.ferris-wheel {
    width: 50%;
}

.ferris-wheel_n {
    width: 500px;
    position: absolute;
    right: 300px;
    top: 250px;
    animation: dayn ease-out 20s infinite;
}

.ferris-wheel_m {
    width: 500px;
    position: absolute;
    right: 300px;
    top: 250px;
    animation: day ease-out 20s infinite;
}

/* 회전목마 */
.carousel_n {
    width: 265px;
    position: absolute;
    left: 418px;
    top: 515px;
    animation: dayn linear 20s infinite;
}

.carousel_m {
    width: 300px;
    position: absolute;
    left: 400px;
    top: 500px;
    animation: day linear 20s infinite;
}


/* 성 */

.morning {
    width: 600px;
    position: absolute;
    bottom: 150px;
    left: 35%;
    animation: day linear 20s infinite;
}

.night {
    width: 600px;
    position: absolute;
    bottom: 150px;
    left: 35%;
}

/* 다트 */

.dart_m {
    width: 100px;
    position: absolute;
    bottom: 150px;
    left: 30%;
}

.dart_n {
    width: 100px;
    position: absolute;
    bottom: 150px;
    left: 30%;
    animation: dayn linear 20s infinite;
}


/* 서커스 */

.circus_m {
    width: 200px;
    position: absolute;
    bottom: 120px;
    right: 17%;
    /* animation: day linear 20s infinite; */
}

.circus_n {
    width: 200px;
    position: absolute;
    bottom: 120px;
    right: 17%;
    animation: dayn linear 20s infinite;
}

/* 티겟박스 */

.ticket_box_m {
    width: 100px;
    position: absolute;
    bottom: 150px;
    right: 25%;
}

.ticket_box_n {
    width: 100px;
    position: absolute;
    bottom: 150px;
    right: 25%;
    animation: dayn linear 20s infinite;
}

/* 기차 */

.move {
    width: 100%;
    z-index: 1;
    animation: move 18s linear infinite;
}

.train_n {
    position: absolute;
    top: 800px;
    overflow-x: hidden;
    animation: dayn linear 20s infinite;
}

.train {
    position: absolute;
    top: 800px;
    overflow-x: hidden;
    animation: day linear 20s infinite;
}

@keyframes move {
    0% {
        transform: translate(-10%);
    }

    100% {
        transform: translate(100%);
    }
}


/* 바이킹 */

.vikn1,
.vikm1 {
    width: 13%;
    position: absolute;
    top: 600px;
    left: 150px;
}

.viking_move img {
    transform-origin: 50% 0%;
    width: 13%;
    position: absolute;
    top: 600px;
    left: 145px;
    animation: viks 1.5s linear infinite;
}

.vikn3,
.vikm3 {
    position: absolute;
    width: 3%;
    top: 575px;
    left: 245px;
}

.vikn1,
.vikn2,
.vikn3 {
    animation: dayn linear 20s infinite;
}

.vikm1,
.vikm2,
.vikm3 {
    animation: day linear 20s infinite;
}

@keyframes viks {
    0% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(45deg);
    }
}


/*풍선*/

.balloon_m {
    width: 100px;
    position: absolute;
    bottom: 120px;
    right: 30%;
}

.balloon_n {
    width: 100px;
    position: absolute;
    bottom: 120px;
    right: 30%;
    animation: dayn linear 20s infinite;
}


/* 공통애니메이션 */

@keyframes day {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes dayn {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}